<div id="upperToolBarContainer">
	<div id="upperToolBarContent">
		<ul>
			@for (int i = 0; i < 10; i++)
			{
				<li>
					<a><img src="~/Content/images/icons.png" /></a>
				</li>
			}
		</ul>
	</div>
</div>
